* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li, a, button {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 10px 10%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: #000000;
}

.nav-container {
    list-style: none;
}

.nav-container li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-container li a {
    transition: all 0.3s ease 0s;
}

.nav-container li a:hover {
    color: #00889a;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

body {
    font-family: 'Monserrat', sans-serif;

}

#header-chopper {
    background: url(foto/chopper\ jokow1.jpg)center/cover no-repeat;
    text-align: center;
    color: #FFFFFF;
    padding: 150px 20px;
    position: relative;
}

#header-chopper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#header-chopper h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#header-chopper p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #FFFFFF;
}

#header-chopper h1 p {
    background-color: none;
    color: #FFFFFF;
    text-align: center;
}

welcome-block {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

#welcome-block h1 {
    font-size: 28px;
    text-align: center;
}

#welcome-block p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000;
}

#about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#about-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.option {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    width: 300px;
}

.option img {
    width: 100%;
    height: auto;
    display: block;
}

.option-content {
    padding: 15px;
}

.option-content h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.option-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.option-content a:hover {
    text-decoration: underline;
}

