* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li, a, button {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 10px 10%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: #000000;
}

.nav-container {
    list-style: none;
}

.nav-container li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-container li a {
    transition: all 0.3s ease 0s;
}

.nav-container li a:hover {
    color: #00889a;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}